.myPageWrapper {
  padding-top: 100px;
  width: 100%;

  display: flex;
  flex-direction: column;

  height: 100%;
  align-items: center;
  justify-content: center;
  .storeBtn {
    border-radius: 5px;
    border: 1px solid;
    padding: 5px 10px;
    width: 50px;
  }
}
table {
  display: flex;
  justify-content: center;
  th {
    width: 100px;
    height: 100px;
  }
  .photoChange input {
    display: none;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
  }

  .profileImageLabel {
    display: flex;
    width: 180px;
    height: 180px;
    border-radius: 70%;
    overflow: hidden;
  }
}
