.headerWrapper {
  // position: absolute;
  // z-index: -1;
  width: 100%;
  // height: 50%;

  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  font-size: 18px;
  .headerBgImg {
    width: 100%;
    position: absolute;
    z-index: -1;
    background-color: black;
    height: 50%;
    img {
      width: 100%;
      height: 100%;
      opacity: 88%;
      object-fit: cover;
    }
  }

  .logoWrapper {
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 10px;
    align-items: center;
  }
  .navBarWrapper {
    display: flex;
    justify-content: space-around;

    padding-top: 10px;
  }
  nav {
    display: flex;
  }

  header {
    display: flex;
    font-weight: 600;
  }
  .serviceName {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  .userNavbar {
    display: flex;
  }

  .mainMenu {
    padding: 10px;
    text-decoration: none;
    color: white;
  }
  .userMenu {
    padding: 10px;
    text-decoration: none;
    color: white;
  }
}

.logoWrapper svg {
  display: none;
}

@media screen and (max-width: 700px) {
  .userNavbar {
    flex-direction: column;
    justify-content: center;
  }
  .headerWrapper {
    display: block;
    height: auto;
  }
  nav {
    justify-content: center;
  }
  header {
    justify-content: center;
  }

  .logoWrapper svg {
    display: block;
  }
}
