.headerWrapper {
  font-size: 18px;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  background-color: white;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 1000;
  font-style: normal;
  .logoWrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    a {
      color: black;
    }
  }
  .navBarWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px;
  }

  header {
    display: flex;
    font-weight: 600;
  }
  .serviceName {
    text-decoration: none;

    font-size: 20px;
    font-weight: 900;
  }
  .userNavbar {
    display: flex;
    a {
      color: black;
    }
  }

  .mainMenu {
    padding: 10px;
    text-decoration: none;
  }
  .userMenu {
    padding: 10px;
    text-decoration: none;
  }
}

.logoWrapper svg {
  display: none;
}

@media screen and (max-width: 700px) {
  .menuActive {
    display: block;
  }
  .menuInActive {
    display: none;
  }
  .navBarWrapper {
    flex-direction: column;
  }
  .userNavbar {
    flex-direction: column;
    justify-content: center;
  }
  .headerWrapper {
    display: block;
    height: auto;
  }
  nav {
    justify-content: center;
  }
  header {
    justify-content: center;
  }

  .logoWrapper svg {
    display: block;
  }
}
