.postListWrapper {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, auto));
  @media (max-width: 900px) {
    & {
      grid-template-columns: repeat(3, minmax(100px, auto));
    }
  }
  @media (max-width: 768px) {
    & {
      grid-template-columns: repeat(2, minmax(100px, auto));
    }
  }
  @media (max-width: 550px) {
    & {
      grid-template-columns: repeat(1, minmax(100px, auto));
    }
  }
}

.eachPost {
  justify-content: space-between;
  align-items: center;
  color: grey;
  margin: 30px;

  height: 250px;
  a {
    text-decoration: none;
    color: black;
  }

  img {
    height: 200px;
    border-radius: 5px;
  }

  .postTitle {
    font-size: 18px;
    font-weight: 500;
  }
}

.thumbNail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  img {
    width: 100%;
    margin-bottom: 10px;
  }
}
