.postListWrapper {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, auto));
  @media (max-width: 900px) {
    & {
      grid-template-columns: repeat(3, minmax(200px, auto));
    }
  }
  @media (max-width: 768px) {
    & {
      grid-template-columns: repeat(2, minmax(200px, auto));
    }
  }
  @media (max-width: 550px) {
    & {
      grid-template-columns: repeat(1, minmax(200px, auto));
    }
  }
  .postWrapper {
    // padding: 20px;
    width: 100%;
    border-radius: 20px;
    // background-color: rgb(245, 245, 238);
  }
  img {
    object-fit: cover;
    width: 214px;
  }
}

.eachPost {
  justify-content: space-between;
  align-items: center;
  color: grey;
  margin: 10px;

  background-color: #f7f7f7;
  border-radius: 10px;

  height: auto;
  a {
    text-decoration: none;
    color: black;
  }

  img {
    height: 200px;
    border-radius: 5px;
  }

  .postTitle {
    font-size: 18px;
    font-weight: 500;
  }
}

.thumbNail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  img {
    width: 100%;
    margin-bottom: 10px;
  }
}
