.postListWrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, auto));
  @media (max-width: 768px) {
    & {
      grid-template-columns: repeat(1, 100%);
    }
  }
}

.eachPost {
  justify-content: space-between;
  align-items: center;
  color: grey;
  margin: 30px;
  border: 1px solid black;
  border-radius: 22px;
  height: 300px;
  a {
    text-decoration: none;
    color: black;
  }

  img {
    height: 200px;
    border-radius: 20px 20px 0px 0px;
  }
}

.thumbNail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  img {
    width: 100%;
  }
}
