.commentBox {
  border: 1px solid #a19a9a;
  border-radius: 10px;
  margin-bottom: 5px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.profile {
  display: flex;
  align-items: center;
  img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 5px;
  }
}
