.mainWrapper {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  .headerBgImg {
    width: 100%;
    position: absolute;
    z-index: -1;

    height: 50%;
    top: 0;
    left: 0;
    img {
      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }
  .mainBox {
    max-width: 960px;
  }
}
.finderContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 20px;

  input {
    padding: 10px;
    border-radius: 30px;
    border: 1.5px solid gray;
  }
}

.observer {
  // infinte scroll observer.
  height: 50px;
}

.dropdownButton {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-right: 30px;
  button {
    border: 0;
    border-radius: 5px;
    padding: 6px;
    margin-bottom: 2px;

    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .selection {
    width: 100%;
  }

  svg {
    color: gray;
    margin-left: 5px;
  }
}
.dropdownTrue {
  display: flex;
  flex-direction: column;
  position: absolute;
  // width: 100%;
  // background-color: white;
  border-radius: 5px;
}

.dropdownFalse {
  display: none;
}
@media screen and (max-width: 1080px) {
  input {
    width: 50%;
  }
}
@media screen and (max-width: 540px) {
  input {
    width: 100%;
  }
}
