.finderContainer {
  display: flex;
  justify-content: center;
  input {
    margin-right: 30px;
  }
}

.observer {
  // infinte scroll observer.
  height: 50px;
}

.dropdownButton {
  position: relative;
  button {
    border: 0;
    border-radius: 5px;
    padding: 6px;
    margin-bottom: 2px;
  }
  .selection {
    width: 100%;
  }

  svg {
    color: gray;
    margin-left: 5px;
  }
}
.dropdownTrue {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  background-color: white;
  border-radius: 5px;
}

.dropdownFalse {
  display: none;
}
